tests/test_data/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.idea/
.vscode/
*.sqlite3
*.db
.DS_Store
*.log
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
*.tmp
*.cache
*.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pytest_cache/
*.ipynb_checkpoints